.gtoast-default-theme {
  font-size: 80%;
  line-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.gtoast-dialog,
  .gtoast-dialog {
    border: solid 1px #f0c36d;
    background: #f9edbe;
    padding: 10px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
}