$gtoast-container-top: 30px !default;
$gtoast-container-left: 0px !default;

@mixin gtoast-container(
$top: $gtoast-container-top,
$left: $gtoast-container-left) {
  position: absolute;
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  z-index: 99;
  top: $top;
  left: $left;
  font-weight: bold;
}

@mixin gtoast-dialog {
  text-align: center;
  display: inline-block;
  z-index: 100;
}

.gtoast {
  @include gtoast-container;
}

.gtoast-dialog {
  @include gtoast-dialog;
}

